body {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    margin: 3%;
}

h1 {
    width: 17%;
    font-weight: bold;
    margin-left: 25%;
    letter-spacing: 3px;
}

h1:hover {
    scale: 1.1;
    transition: 500ms;
}

.logo-alura {
    float: left;
    margin-left: 5%;
}

.logo-alura:hover {
    scale: 1.1;
    transition: 500ms;
}

#input-usuario:focus {
    outline: none;
}

#seccion-input {
    height: 415px;
}

#input-usuario {
    font-family: 'Inter', sans-serif;
    background: #E5E5E5;
    border-style: none;
    margin-top: 10%;
    margin-left: 5%;
    width: 50%;
    height: 250px;
    font-size: 2em;
    resize: none;
}

.munheco {
    width: 90%;
    float: right;
    margin-right: 3%;
    margin-top: 15%;
    padding-bottom: 10%;
}

#seccion-resultado {
    background-color: white;
    width: 32%;
    height: 90%;
    position: absolute;
    right: 6%;
    top: 7%;
    border-style: none;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.sin-texto1, .sin-texto2 {
    text-align: center;
}

.sin-texto1 {
    font-size: 1.3em;
    font-weight: bold;
}

textarea::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }
  
  textarea::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #0a3871; }

.mensaje-final {
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    text-align: center;
    background-color: white;
    width: 80%;
    height: 300px;
    margin-left: 10%;
    margin-top: 25%;
    border-style: none;
    resize: none;
}

.mensaje-final:focus {
    outline: none;
}

.desencriptar {
    float: right;
    background: none;
    border-style: solid;
    border-color: #0a3871;
    color: black;
}

.desencriptar:hover {
    border-style: none;
    background: #0a3871;
    color: white;
    transition: 250ms;
}

.copiar {
    position: absolute;
    visibility: hidden;
    width: 20%;
    bottom: 10%;
    right: 11.7%;
    z-index: 1;
    background: none;
    color: black;
    border-style: solid;
    border-color: blueviolet;
}

.copiar:hover {
    border-style: none;
    background: blueviolet;
    color: white;
    transition: 250ms;
}

#seccion-botones {
    width: 50%;
    margin-left: 5%;
}

.mensaje-caracteres {
    height: fit-content;
    color: white;
    visibility: hidden;
    text-align: center;
    background-color: blueviolet;
    border-radius: 25px;
}

button {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: #E5E5E5;
    background: #0a3871;
    width: 49%;
    height: 5em;
    border-radius: 2em;
    border-style: none;
}

footer {
    text-align: center;
    margin-top: 5%;
}

@media (max-width: 701px) {  /****** media queries *****/
   
body {
    vertical-align: baseline;
}

body section {
    flex-direction: column;
}

#seccion-navbar {
    margin: 10%;
}

h1 {
    margin-left: 20%;
}

#seccion-input {
    height: 750px;
}

#input-usuario {
    width: 80%;
    height: 500px;
}

#seccion-botones {
    margin-left: 0;
    width: 100%;
    height: fit-content;
}

button {
    width: 49%;
    height: 3em;
}

.munheco {
    width: 1px;
    visibility: hidden;
}
.sin-texto2 {
    visibility: hidden;
}

 .copiar {
display: none;
}

#seccion-resultado {
    padding-top: 5%;
    align-items: center;
    display: block;
    position: static;
    width: 100%;
    height: fit-content !important;
    margin-top: 4%;
}

.mensaje-final {
    margin-top: 3%;
    margin-bottom: 0;
    margin-left: 10%;
    height: 300px;
}

.sin-texto1 {
    width: 94%;
    margin-left: 2%;
}

footer {
    width: 100%;
    margin-top: 5%;
}}